@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
@charset "utf-8";
/* CSS Document */
body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}
.oneColFixCtrHdr #container {
	width: 780px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 1px solid #000000;
}
.oneColFixCtrHdr #header {
	padding: 0 10px 0 20px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
	background: #16425B;
}
.oneColFixCtrHdr #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 15px; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
	text-align: center;
}
.oneColFixCtrHdr #mainContent {
	padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	background: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	;
	text-align: center;
}
.oneColFixCtrHdr #footer {
	padding: 0 10px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background:#DDDDDD;
}
.oneColFixCtrHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}
#header a:link {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #D9DCD6;
	text-decoration: none;
}
#header a:hover {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666;
}
#header a:active {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #003;
	text-decoration: blink;
}
#header a:visited {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
}
#header a:active {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #003;
	text-decoration: blink;
}
#Social {
	text-align: center;
}
h1 {
		font-family: 'Lato', sans-serif;
}
#Title {
	color: #D9DCD6;
}
.hereFAQ {
	text-decoration: underline;
}
